---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* 1. 고운돋움 웹폰트 설정 */
@font-face {
    font-family: 'GowoonDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

/* 기본 글자 크기 */
$doc-font-size: 8px; // 원하는 크기로 숫자를 변경해 보세요!

/* 2. 블로그 전체 폰트 변수 지정 */
$global-font-family: 'GowoonDodum', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$header-font-family: 'GowoonDodum', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$caption-font-family: 'GowoonDodum', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

/* 3. 본문 및 전체 영역에 폰트 적용 */
body, 
h1, h2, h3, h4, h5, h6,
.site-title, 
.site-nav, 
.archive__item-title {
  font-family: $global-font-family !important;
}
